<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="/Images/favicon.ico" type="image/x-icon">
        <meta charset="utf-8" />

        @Styles.Render("~/Content/EN/SiteEN.css")
       @* @Styles.Render("~/Content/css-Slide/News.css")*@
        @Scripts.Render("~/bundles/modernizr")
        <title>@ViewBag.Title</title>
                        <script type='text/javascript' src='~/Scripts/js-Slide/jquery.min.js'></script>
        
      <script type="text/javascript" language="javascript">
          $(function () {
              $(this).bind("contextmenu", function (e) {
                  e.preventDefault();
              });
          });
    </script>
        <link href="~/Content/css-Slide/NewsEN.css" rel="stylesheet" />
        <style type="text/css">
            #NoDisplaySection, #flip {
                margin: 0px auto;
                width: 990px !important;
            }
            #NoDisplaySection {
                display: none;
                margin-top: 111px !important;
                margin: 0px auto;
            }

            #Close {
                float: left;
            }
            #Close img {
                cursor: pointer;
            }
        </style>


    </head>
<body>


    <div class="MyWidth">
        <header>
            <div class="TopPage">
                <div class="Logo"></div>
     
<div class="MenuBar">
<a class="current_page_item" href="/en/Home/Index">Home</a>
                           <a class="current_page_Gallery" href="/en/Carpet/gallery">Polyester rug</a>
                        <a class="current_page_Leather" href="/en/LeatherCarpet/gallery">mix of rug &amp; cowhide</a>
                        <a href="/en/Home/Contact" class="current_page_Namayande">Show rooms</a>
                          <a  class="current_page_AboutUS" href="/en/Home/About">About US</a>

                </div>

                 <div class="LeftBox">
                       <a href="/Home/GetPdf">
                        <div class="CatalogeDL"></div>
                    </a>

                    <div class="TopSocialPart">
                    <div class="SearchBox"></div>
                        <div class="SocialIcon">
                            
                            <a href="/"> <div class="FA"></div></a>
                            @*<a> <div class="Facebook"></div></a>
                            <a><div class="Twiteer"></div></a>*@ 
                        </div>
                        </div>
                    <div class="Clear"></div>

                </div>
            </div>



        </header>
        <div id="body">
            @RenderSection("featured", required: false)

            @RenderBody()

        </div>

        <div class="Clear"></div>
         <div class="Footer">
             <div class="FooterL">© 2014 Keramatian.com | All rights reserved <br/>Powered By H&A</div>
        </div> 
    </div>
   @* @Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
