@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Areas/en/Views/Shared/_Layout.cshtml";
}

<script src="/Scripts/js-Gallery/jquery-1.10.1.min.js"></script>
<script src="/Scripts/js-Gallery/jquery.fancybox.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.fancybox').fancybox();



    });
</script>

<link href="/Content/css-Slide/Gallery.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />


@{double count = 0;}
@{var design = (Keramatian.Models.Design)ViewBag.Design;}
<div class="GalleryPage">

    <div class="Clear"></div>
    @if (!string.IsNullOrEmpty(design.History) && !string.IsNullOrEmpty(design.ImagePath))
    {
        <!--حالت اول - عکس تاریخچه,متن تاریخچه,عکس های فرش -->
        
        Html.RenderPartial("HistoryAndImage");
    }
    else if (!string.IsNullOrEmpty(design.History) && string.IsNullOrEmpty(design.ImagePath))
    {
        <!--حالت دوم - متن تاریخچه,عکس های فرش -->

        Html.RenderPartial("OnlyHistory");

    }
    else if (string.IsNullOrEmpty(design.History) && string.IsNullOrEmpty(design.ImagePath))
    {

        Html.RenderPartial("OnlyDesingTitle");
        <!--حالت سوم - فقط عکس های فرش -->


    }
    <div class="RowGallery">
        @foreach (var item in ViewBag.OnePageOfcarpets1)
        {
            <div class="GalleryIMG">
                <span class="GalleryInfo">
                    <p class="GalleryTitle">@item.Design</p>
                    <p class="GalleryCode">@item.Code</p>
                </span>

                <div class="Clear"></div>
                <a class="fancybox" href="@item.HighQualityImagePath" data-fancybox-group="gallery">

                    <img src="@item.ImagePath" width="320" height="468" />

                </a>

            </div>

        }
    </div>
    <div class="Clear"></div>
    @if (ViewBag.OnePageOfcarpets2 != null)
    {
        <div class="RowGallery">
            @foreach (var item in ViewBag.OnePageOfcarpets2)
            {
                <div class="GalleryIMG">
                    <span class="GalleryInfo">
                        <p class="GalleryTitle">@item.Design</p>
                        <p class="GalleryCode">@item.Code</p>
                    </span>
                    <div class="Clear"></div>
                    <a class="fancybox" href="@item.HighQualityImagePath" data-fancybox-group="gallery">
                        <img src="@item.ImagePath" width="320" height="468" />
                    </a>

                </div>

            }
        </div>
    }

</div>


@Html.PagedListPager((IPagedList)ViewBag.OnePageOfcarpets, page => Url.Action("Gallery", new { page, designName = Html.Action("GetDesignName",new {page}) }))



